<ul class="weekday-picker">
{{#weekdays}}
    <li class="weekday-picker__item">
        <div class="weekday{{#active}} weekday_active{{/active}}">
            <div class="weekday__name">{{name}}</div>
            <div class="weekday__date">{{date}}</div>
        </div>
    </li>
{{/weekdays}}
</ul>
<ul class="channel-list">
{{#channels}}
    <li class="channel-list__item">
        <div class="channel" data-id="{{id}}">
            <div class="channel__header">
                <div class="channel__logo">
                    <img class="logo" src="{{{logo.url_template}}}" alt="{{name}}">
                </div>
                <h2 class="channel__title">{{name}}</h2>
            </div>
            <ul class="channel__events">
            {{#events}}
                <li class="channel__events-item">
                    <div class="event{{#past}} event_past{{/past}}" data-id="{{id}}">
                        <time class="event__time" datetime="{{start_at}}">{{start_at_time}}</time>
                        <span class="event__title">{{title}}</span>.
                        <span class="event__subtitle">{{subtitle}}</span>
                    </div>
                </li>
            {{/events}}
            </ul>
        </div>
    </li>
{{/channels}}
</ul>
