.channel-list {
    margin: 5rem 0.5rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        flex: 18rem;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 400px) {
        margin-top: 3rem;
    }
}

.channel {
    padding: 0 0.5em;

    &__header {
        margin-bottom: 1em;
        line-height: 4em;
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
    }

    &__logo {
        display: inline-block;
        vertical-align: top;
    }

    &__title {
        display: inline-block;
        margin: 0 0 0 1em;
        vertical-align: top;
    }

    &__events {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__events-item {
        margin-top: 0.4em;
    }
}

.logo {
    display: block;
    height: 4em;
}

.event {
    cursor: default;

    &_past {
        opacity: 0.5;
    }

    &__time {
        font-weight: bold;
    }
}
